PORT=3005
CLIENT_URL=http://localhost:5173
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=yuor_pass_here
DB_NAME=auth_db
JWT_ACCESS_SECRET=my-super-secret-access-key-123
JWT_REFRESH_SECRET=my-super-secret-refresh-key-456
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASSWORD=yuor_pass_here
